[submodule "web/modules/module-a"]
	path = web/modules/module-a
	url = https://github.com/antimitgeeks/module-a.git
[submodule "web/modules/module-b"]
	path = web/modules/module-b
	url = https://github.com/antimitgeeks/module-b.git
